<mat-card class="card-home">
  <mat-toolbar color="primary">
    <h1> Bem vindo ao Conexão multi serviços </h1>
  </mat-toolbar>
  <section class="info">
    <h2>Aqui você encontra um profissional ou se cadastra para ser um profissional</h2>
  </section>

  <section class="button">
    <div class="button-row">
      <button mat-raised-button (click)="onFindAllResumes()" color="primary">Procurar profissional</button>
      <button mat-raised-button class="button-login" (click)="onLogin()" color="primary">Login</button>
    </div>
  </section>
</mat-card>

