.mat-signup {
  width: 400px;
  max-width: 90%;
  min-height: 100px;
  margin: 2em auto;
  text-align: center;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 4px 4px gray;
}
.button-create {
  margin-left: 30px;
}
.signup-form{
  margin: 2em auto;
}
mat-toolbar{
  justify-content: center;
}
