mat-card {
  margin: 0 auto;
  max-width: 450px;
  text-align: center;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 4px 4px gray;
}
mat-form-field{
  width: 90%;
}
mat-dialog-actions{
  justify-content: space-around;
}
